@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
  background: white;
  color: #72757A;

}

* {
  font-family: 'Poppins', sans-serif;
}